name: build xabbo extension

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c Release --no-restore

    - name: Publish
      run: dotnet publish src/Xabbo.Avalonia/Xabbo.Avalonia.csproj -c Release --no-build -o publish/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: xabbo
        path: publish/
        retention-days: 30
